/* cover logo */
.logoaim {
	position: fixed;
	top: 0;
	right: 10%;
}
.logomu {
	position: fixed;
	top: 0;
	right: 0;
}
@-webkit-keyframes aimbot {
  from { -webkit-transform: rotate(-10deg); }
  to { -webkit-transform: rotate(10deg); }
}
.aimbot {
	-webkit-animation:aimbot 1.5s infinite alternate;
	position: fixed;
	bottom: 0;
	left: 5%;
	transform: scaleX(-1);
	transform: rotate(-15deg);
}
.headertext p {
	position: fixed;
	top: 5%;
	right: 20%;
	text-align: right;
	font-size: x-large;
	font-weight: 700;
	border-bottom: 3px solid #eee;
	width: 25%;
}

/* custom style */
red {
	color:#EA4335;
}
blue {
	color: #4285F4;
}
yellow {
	color: #FBBC05;
}
green {
	color: #34A853;
}
black {
	color: black;
}
white {
	color: white;
}
.blk-60 {
	width: 60%;
	display: inline-block;
}
.blk-65 {
	width: 65%;
	display: inline-block;
}
.blk-70 {
	width: 70%;
	display: inline-block;
}
.blk-75 {
	width: 75%;
	display: inline-block;
}
.blk2 {
	width: 500px;
	display: inline-block;
	vertical-align: top !important;
}
.blk3 {
	width: 330px;
	display: inline-block;
	vertical-align: top !important;
}
.blk4 {
	width: 250px;
	display: inline-block;
	vertical-align: top !important;
}
.uw {
	border-bottom: 3px solid #EEE !important;
}
.ub {
	border-bottom: 3px solid #333 !important;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.tab {
	text-indent: 50px;
}
.ulul {
	margin-top: 8px !important; 
	line-height: 33px !important;
	font-size: x-large !important;
}
.no-img-effect {
	border: none !important;
	background: none !important;
	box-shadow: none !important;
}
